/* Estilos básicos */
.logo-image {
  width: auto;
}

/* Estilos para tamanhos de tela diferentes */

/* Mobile (less than 576px) */
@media (max-width: 575.98px) {
  .logo-image {
    max-height: 40px; /* Ajuste conforme necessário */
  }

  .navbar-brand {
    font-size: 1.5rem; /* Tamanho da fonte para dispositivos móveis */
  }
}

/* Tablet (between 576px and 767px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .logo-image {
    max-height: 40px; /* Ajuste conforme necessário */
  }

  .navbar-brand {
    font-size: 1.25rem; /* Tamanho da fonte para tablets */
  }
}

/* Desktop (768px and above) */
@media (min-width: 768px) {
  .logo-image {
    max-height: 65px; /* Ajuste conforme necessário */
  }

  .navbar-brand {
    font-size: 1.5rem; /* Tamanho da fonte para desktops */
  }
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-item a {
  color: black !important;
  font-weight: bold;
  font-family: 'Gotham', sans-serif; /* Aplica a fonte Gotham */
}

.navbar-nav .nav-link {
  font-family: 'Gotham', sans-serif; /* Aplica a fonte Gotham */
}

.navbar {
  padding: 1rem 2rem; /* Ajusta o padding da navbar */
}

.navbar-background {
  background-color: #C1000F !important; /* Alterado para #C1000F */
}

.nav-item {
  flex: 1; /* Faz com que cada item ocupe o mesmo espaço */
  text-align: center; /* Centraliza o texto de cada item */
}

.nav-item a {
  padding: 0.5rem 1rem; /* Ajusta o padding dos links */
  display: flex; /* Usa flexbox para centralizar itens verticalmente */
  align-items: center; /* Centraliza os itens verticalmente */
  justify-content: center; /* Centraliza os itens horizontalmente */
}

.nav-item a i {
  margin-right: 0.2rem; /* Espaçamento entre o ícone e o texto */
  font-size: 1rem; /* Define o tamanho do ícone */
}

@media (max-width: 992px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    width: 100%;
    text-align: left;
  }
}
